
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 40rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}
  .card-body {
    padding: 1.5rem;
  }
  
  .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
