/* .card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  } */
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 40rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}
  .card-body {
    padding: 1.5rem;
  }
  
  .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
/*   
  .overflow {
    overflow: hidden;
  }
   */
  /* .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  } */
/*   
  .card-img-top:hover {
    transform: scale(1.8);
  } */